.wrapper {
  width: 98%;
  margin: 0 auto;
}

header {
  margin: 10px;
  padding: 3%;
}

.MyButton {
  background-color: rgb(237, 95, 202);
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

#slideshow {
  text-align: center;
}
